/** global element styling **/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
  --intel-blue: #0071c5;
  --intel-white: #FFFFFF;
  --intel-gray: #828282;
  --intel-dark: #0F1C2E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--intel-dark);
  font-family: 'Barlow Condensed', sans-serif;
}

li {
  list-style: none;
}

a {
  color: var(--intel-blue);
  text-decoration: none;
}

a:hover {
  color: var(--intel-white);
}

/** global classes styling **/

.container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  color: var(--intel-white);
}

.btn {
  display: inline-block;
  background-color: var(--intel-blue);
  color: var(--intel-darkblue);
  font-size: 16px;
  line-height: 0.5;
  text-align: center;
  text-decoration: none;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 0px 0px 5px 5px;
}

.btn:hover {
  background-color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--intel-dark);
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

#nav-bar li {
  margin: 0;
}

.nav-link {
  display: block;
  padding: 1rem;
  font-size: 2rem;
}

#hero {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1,
#hero form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 5rem;
  color: var(--intel-white);
}

#email,
#submit {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#overview {
  margin-top: 50px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.desc h2 {
  padding-top: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video {
  border-radius: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
